@import "_reset.less";
body,textarea,input,button,select,keygen,legend{font:14px/1.14  "Microsoft YaHei",Tahoma,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,Simhei,sans-serif;color:#333;outline:0;}
body{
	background: #fff;user-select:none;
}
.g-wrap{
	width: 1105px;position: relative;height: 623px;background: #e0e1e2;margin: 0 auto;
}
.loginPanel{
	background: url(../img/ready/bg.jpg) no-repeat;height: 623px;
	.h1{
		font-size: 72px;font-weight: bold;text-align: center;color: #c1a98f;
		background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#f8e3b4), to(#c0a98f));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}
	.title{
		font-size: 24px;color: #fff;text-align: center;padding-top: 20px;
	}
	.loginCard{
		width: 420px;height: 332px;position: absolute;margin-left: -210px;margin-top: -166px;left: 50%;top: 50%;
	}
	.loginCnt{
		
	}
	.selectRoleCard{
		width: 420px;height: 332px;position: absolute;margin-left: -210px;margin-top: -166px;left: 50%;top: 50%;
		background:#855337;border-radius: 10px;
		display: none;
	}
	.selectRole{
		&.ui.card{
			width: 420px;
		}
		
		h2{
			padding: 5px;font-weight: normal;padding-left: 20px;
		}
		label{
			display: block;padding-left: 20px;margin-top: 10px;font-size: 16px;color: #fff;
		}
		.radioCnt{
			height: 200px;overflow-y: auto;margin-top: 10px;
			span{margin: 0 10px;}
		}
		.confirmBtn{
			background: #b47d4e;display: block;text-align: center;color: #fff;width: 100px;
			margin: 10px auto;box-shadow: 0px 0px 1px 0 #666;
		}
	}
	.entrance{
		position: absolute;top: 50%;left: 50%;width: 1px;height: 1px;display: none;color: #fff;
		.joinRoom{
			width: 300px;background: #855337;height: 332px;position: absolute;margin-top: -166px;top: 50%;left: 20px;
			
			.iptCnt{
				text-align: center;
				input{
					width: 240px;height: 40px;text-indent: 1em;border-radius: 5px;border: none;background:#a5673f;color:#fff;
				}
			}	
			border-radius: 10px;	
		}
		.createRoom{
			width: 300px;background: #855337;height: 332px;margin-top: -166px;top: 50%;position: absolute;right: 20px;
			border-radius: 10px;
		}
		.t{
			font-size: 20px;font-weight: bold;text-align: center;padding: 20px;
		}
		.btnCnt{
			text-align: center;margin-top: 20px;
		}
		a{
			display: inline-block;background: #b47d4e;text-align: center;color: #fff;
		}
		p{
			text-align: center;
		}
	}
}
.connectPanel{
	width: 600px;position: absolute;margin-left: -300px;left: 50%;margin-top: -150px;
	height: 300px;background: #363636;top: 50%;border-radius: 10px;display: none;z-index: 9;
	.panel-heading{
		height: 50px;line-height: 50px;border-bottom: 1px solid #ccc;text-indent: 2em;color: #fff;text-align: center;
		margin-bottom: 5px;
	}
	.panel-body{
		padding-left: 30px;color: #fff;
		label{
			width: 100px;
		}
		.form-group{
			padding: 5px;
			input{
				width: 420px;height: 30px;text-indent: 1em;border-radius: 5px;border: none;
			}
		}
		.btncnt{
			text-align: center;margin-top: 20px;
			button{
				background: #5079bb;border: none;border-radius: 5px;width: 100px;height: 40px;color: #fff;
			}
		}
	}
	.form-group{
		line-height: 24px;
	}	

}

.readyPannel{
	width: 1105px;height: 623px;background: url(../img/ready/bg.jpg) no-repeat;border-radius: 5px;
	position: absolute;top: 0;left: 0;display: none;
	.roomId{
		text-align: center;width: 100%;position: absolute;top: 20px;color: #fff;
	}
	.playerList{
		width: 674px;margin: 0 auto;padding-top: 60px;height: 484px;box-sizing: content-box;
	}
	.item{
		width: 327px;height: 111px;background: url(../img/ready/item.png) no-repeat;margin-right: 10px;margin-bottom: 10px;
		position: relative;font-size: 16px;color: #ffffe5;
		.ownerIcon{
			width: 25px;height: 30px;background: url(../img/ready/icon_owner.png) no-repeat;display: block;position: absolute;
			left: 7px;top: -6px;display: none;
		}
		.name{
			display: block;width: 260px;height: 31px;background: url(../img/ready/name_bg.png) no-repeat;line-height: 31px;text-indent: 54px;
			position: absolute;top: 20px;left: 48px;
			.score{
				text-indent: 0;margin-right: 15px;.text-shadow (0 0 2px rgba(0, 0, 0, 1));
			}
		}
		.head{
			width: 78px;height: 78px;position: absolute;top: 16px;left: 16px;
			.head_border{
				width: 100%;height: 100%;background: url(../img/ready/head_overlayer.png) no-repeat;display: block;position: absolute;top: 0;left: 0;
			}
			img{
				width: 72px;height: 72px;border-radius: 50%;position: absolute;margin-left: -36px;margin-top: -36px;top: 50%;left: 50%;
			}
		}
		.btn{
			width: 94px;height: 28px;display: block;background: #b47d4e;color: #ffffe5;line-height: 28px;text-align: center;
			border-radius: 4px;position: absolute;top: 64px;left: 215px;.transition(all 0.3s);display: none;
			&.btn-ready{
				&:hover{
					background: #574d43;
				}
				.box-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
			}
			&.btn-already{
				background: #2f624b;cursor: default;.inner-shadow(0,0,10px,0,0.4);
				.icon-already{
					display: inline-block;width: 17px;height: 11px;background: url(../img/ready/icon_ready.png) no-repeat;margin-left: 4px;
				}
			}
			&.btn-unready{
				background: #b47d4e;color: #41250c;cursor: default;.inner-shadow(0,0,10px,0,0.4);
			}
		}
		.countDown{
			color: #c58a56;position: absolute;top: 64px;left: 135px;display: none;
			.icon-time{
				display: inline-block;width: 18px;height: 18px;background: url(../img/ready/icon_time.png) no-repeat;
				vertical-align: middle;margin-right: 2px;
			}
			.second{
				font-size: 18px;vertical-align: middle;font-weight: bold;
			}
			.txt{
				font-size: 14px;vertical-align: bottom;
			}
		}
		.closeBtn{
			width: 13px;height: 12px;display: block;position: absolute;background: url(../img/ready/icon_close.png) no-repeat;
			position: absolute;top: 11px;left: 304px;
		}
	}
	.startBtn{
		display: block;width: 224px;height: 66px;background: url(../img/ready/start_btn.png) no-repeat;margin: 0 auto;
		&.gray{
			background: url(../img/ready/start_btn_gray.png) no-repeat;
		}
	}
	.confirmPop{
		position: absolute;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.9);top: 0;left: 0;display: none;
		.pop{
			width: 525px;height: 316px;background: url(../img/ready/confirm_bg.png) no-repeat;
			position: absolute;margin-left: -266px;margin-top: -158px;left: 50%;top: 50%;
			color: #000;
			.title{
				font-size: 24px;text-align: center;padding-top: 10px;
			}
			.content{
				text-align: center;font-size: 28px;padding-top: 84px;
			}
			.btns{
				text-align: center;margin-top: 80px;
				a{
					display: inline-block;width: 152px;height: 44px;background: url(../img/ready/confirm_btn_bg.png) no-repeat;margin-left: 20px;margin-right: 20px;
					line-height: 44px;color: #fff;font-size: 20px;
				}
			}
		}
	}
}
.drawPanel{
	width: 1109px;height: 627px;background: url(../img/draw/bg.jpg) no-repeat;position: absolute;top: 0;left: 0;border-radius: 10px;
	display: none;
	.myName{
		position: absolute;top: 12px;left: 550px;
	}
	.book{
		width: 945px;height: 531px;background: url(../img/draw/book_bg.png) no-repeat;position: absolute;top: 0px;left: 0px;
		font-size: 14px;
		.hintCnt{
			position: absolute;width: 200px;height: 150px;top: 80px;left: 54px;font-weight: bold;
			.title{
				display: block;width: 100%;height: 18px;line-height: 18px;color: #403326;font-weight: bold;text-align: center;
				background: url(../img/draw/line.png) no-repeat center center;
			}
			.info{
				padding-top: 5px;
				p{
					line-height: 25px;
				}
			}
			.raccoon{
				width: 94px;height: 142px;background: url(../img/draw/raccoon.png) no-repeat;position: absolute;top: 30px;left: 115px;
			}
		}
		.chatBox{
			width: 230px;height: 200px;position: absolute;font-weight: bold;color: #663517;
			top: 246px;left: 42px;outline: none;	
			.wrap{
				overflow: hidden;height: 100%;
				.content{
					padding-right: 32px;line-height: 24px;
					p{word-wrap:break-word;}
				}
			}
		}
		.iptCnt{
			width: 222px;height: 22px;background: url(../img/draw/input_bg.png) no-repeat;position: absolute;
			top: 452px;left: 40px;
			input{
				background: transparent;border: none;color: #fff;height: 22px;line-height: 22px;text-indent: 1em;
				width: 200px;
			}
			.sendBtn{
				width: 27px;height: 26px;display: block;background: url(../img/draw/enter.png) no-repeat;
				position: absolute;top: -1px;right: -2px;
			}
		}
		
	}
	.colorDisc{
		width: 259px;height: 175px;background: url(../img/draw/color.png) no-repeat;position: absolute;
		right: 0;bottom: 0;
		.pen{
			width: 44px;height: 102px;position: absolute;top: -80px;right: 20px;cursor: pointer;
			.normalPen{
				width: 44px;height: 102px;background: url(../img/draw/pen.png) no-repeat;position: absolute;
			}
			.selected{
				width: 58px;height: 111px;background: url(../img/draw/pen_selected.png) no-repeat;position: absolute;
				left: -11px;
			}
		}
		.colorcard{
			width: 510px;height: 100px;transform: rotate(0deg) skew(81deg);overflow: hidden;
			position: absolute;bottom: 0px;right: 0px;right: 0;transform-origin:bottom right;
			.circle{
				width: 344px;height: 344px;border-radius: 50%;display: block;
				transform:skew(-81deg);bottom: -172px;right: -172px;transform-origin:center center;
				position: absolute;cursor: pointer;
			}
			&.colorcard-2{
				transform: rotate(9deg) skew(81deg);
			}
			&.colorcard-3{
				transform: rotate(18deg) skew(81deg);
			}
			&.colorcard-4{
				transform: rotate(27deg) skew(81deg);
			}
			&.colorcard-5{
				transform: rotate(36deg) skew(81deg);
			}
			&.colorcard-6{
				transform: rotate(45deg) skew(81deg);
			}
			&.colorcard-7{
				transform: rotate(54deg) skew(81deg);
			}
			&.colorcard-8{
				transform: rotate(63deg) skew(81deg);
			}
			&.colorcard-9{
				transform: rotate(72deg) skew(81deg);
			}
			&.colorcard-10{
				transform: rotate(81deg) skew(81deg);
			}
		}
		.cursor{
			width: 35px;height: 175px;background: url(../img/draw/color_selected-1.png) no-repeat;
			position: absolute;margin-right: -17.5px;right: 0;transform: rotate(-4deg);transform-origin:center bottom;
			.transition(all 0.3s);
		}
		.cursor-9{
			transform: rotate(-14deg);
		}
		.cursor-8{
			transform: rotate(-23deg);
		}
		.cursor-7{
			transform: rotate(-30deg);height: 190px;
		}
		.cursor-6{
			transform: rotate(-39deg);height: 190px;
		}
		.cursor-5{
			transform: rotate(-47deg);height: 190px;
		}
		.cursor-4{
			transform: rotate(-54deg);height: 190px;
		}
		.cursor-3{
			transform: rotate(-63deg);height: 190px;
		}
		.cursor-2{
			transform: rotate(-72deg);height: 190px;
		}
		.cursor-1{
			transform: rotate(-80deg);height: 190px;
		}

	} 
	.circleOverlayer{
		width: 260px;height: 260px;border-radius: 50%;margin-right: -130px;margin-bottom: -130px;position: absolute;
		bottom: 0;right: 0;
	}
	.drawingBoard{
		position: absolute;width: 550px;height: 418px;top: 40px;left: 328px;
	}
	.members{
		position: absolute;left: 13px;bottom: 5px;height: 94px;width: 784px;
		.item{
			width: 152px;height: 45px;background: url(../img/draw/item_bg.png) no-repeat;margin-right: 5px;margin-bottom: 5px;
			position: relative;
			&.active{
				.current{
					position: absolute;width: 152px;height: 46px;background: url(../img/draw/border.png) no-repeat;
					top: 0;left: 0;
				}
			}
			.head{
				display: block;position: absolute;
				img{
					position: absolute;top: 1px;left: 1px;
				}
				.imgBorder{
					display: block;width: 46px;height: 46px;background: url(../img/draw/head_border.png) no-repeat;
					position: absolute;top: 0;left: 0;
				}
			}
			.name{
				color: #fff;font-size: 12px;font-weight: bold;display: block;width: 107px;height: 15px;
				background: url(../img/draw/name_bg.png) no-repeat;position: absolute;left: 46px;top: 6px;padding-left: 4px;
			}
			.score{
				display: block;position: absolute;top: 24px;left: 50px;font-size: 12px;font-weight: bold;color: #fff;
				.icon{
					display: inline-block;width: 18px;height: 14px;background: url(../img/draw/icon_hg.png) no-repeat;
					display: none;
					&.show{
						display: inline-block;
					}
				}
			}
			&:last-child{
				margin-right: 0px;
			}
			
		}
	}
	.tools{
		position: absolute;width: 557px;height: 42px;top: 467px;left: 326px;
		.answer{
			font-weight: bold;font-size: 18px;color: #4a3d2f;position: absolute;top: 6px;
		}
		.delete{
			display: block;position: absolute;background: url(../img/draw/icon_delect.png) no-repeat;
			width: 29px;height: 35px;top: 0px;right: 0px;
		}
		.eraser{
			display: block;position: absolute;background: url(../img/draw/eraser.png) no-repeat;
			width: 26px;height: 35px;top: 0;right: 30px;
		}
		.lineSet{
			position: absolute;top: 8px;left: 280px;
			.subtractBtn{
				display: block;width: 18px;height: 18px;background: url(../img/draw/subtract.png) no-repeat;
				position: absolute;top: 0;
			}
			.plusBtn{
				display: block;width: 18px;height: 18px;background: url(../img/draw/plus.png) no-repeat;
				position: absolute;top: 0;left: 150px;
			}
			.slidebar{
				height: 1px;width: 110px;border-top: 1px solid #000;position: absolute;left: 27px;top: 7px;
				.circle{
					display: block;width: 16px;height: 16px;border-radius: 50%;background: #fff;border: 1px solid #000;
					margin-top: -8px;margin-left: -8px;position: absolute;
				}
			}
		}
	}
	.mask{
		width: 100%;height: 100%;background: rgba(0, 0, 0, 0.9);position: absolute;top:0;left: 0;display: none;
	}
	.endPop{
		display: none;position: absolute;width: 655px;height: 394px;background: url(../img/draw/end_bg.jpg) no-repeat;
		margin-left: -377px;margin-top: -197px;top: 50%;left: 50%;border-radius: 7px;
		.title{
			font-size: 24px;color: #000;text-align: center;height: 60px;line-height: 60px;
		}
		.imgCnt{
			width: 440px;height: 240px;background: #fff;margin: 0 auto;margin-top: 9px;
			border-radius: 5px;
		}
		.btns{
			width: 450px;margin: 0 auto;height: 45px;margin-top: 24px;
			.caiBtn{
				display: block;width: 152px;height: 44px;background: url(../img/draw/caiBtn.jpg) no-repeat;
				border-radius: 5px;line-height: 44px;color: #fff;font-size: 18px;font-weight: bold;text-indent: 1em;
			}
			.zanBtn{
				display: block;width: 152px;height: 44px;background: url(../img/draw/zanBtn.jpg) no-repeat;
				border-radius: 5px;line-height: 44px;color: #fff;font-size: 18px;font-weight: bold;text-indent: 1em;
			}

		}
		.timeTips{
			position: absolute;top: 18px;right: 24px;font-size: 16px;color: #6f523f;
		}
	}
	.roundCountDown{
		position: absolute;font-size: 16px;font-weight: bold;top: 47px;left: 340px;color: #45392f;
		transform:rotate(-45deg);
		span{
			display: block;text-align: center;color: #663517;
			&.num{
				background: url(../img/draw/countNumBg.png) no-repeat center;
			}
		}
	}
	.petal-1{
		width: 27px;height: 24px;position: absolute;background: url(../img/draw/petal-1.png) no-repeat;
		top: 210px;left: 17px;
	}
	.petal-2{
		width: 146px;height: 163px;background: url(../img/draw/petal-2.png) no-repeat;position: absolute;
		top: 180px;right: 67px;

	}
	.deleteConfirmPop{
		width: 525px;height: 316px;background: url(../img/ready/confirm_bg.png) no-repeat;position: absolute;
		margin-left: -262px;margin-top: -158px;left: 50%;top: 50%;display: none;
		.title{
			font-size: 24px;text-align: center;height: 40px;line-height: 40px;
		}
		.content{
			width: 420px;margin: 0 auto;margin-top: 30px;height: 170px;font-size: 20px;text-align: center;
			line-height: 30px;
		}
		.btns{
			width: 400px;margin: 0 auto;
			a{
				width: 152px;height: 44px;background: url(../img/ready/confirm_btn_bg.png) no-repeat;line-height: 44px;text-align: center;
				font-size: 18px;color: #fff;
			}
		}
	}
}

.commonAlert{
	position: absolute;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.9);top: 0;display: none;
	.title{
		font-size: 24px;text-align: center;height: 40px;line-height: 40px;
	}
	.cnt{
		width: 525px;height: 316px;background: url(../img/ready/confirm_bg.png) no-repeat;
		margin-left: -262px;margin-top: -158px;position: absolute;left: 50%;top: 50%;
		.content{
			width: 420px;margin: 0 auto;margin-top: 30px;height: 170px;font-size: 20px;text-align: center;
			line-height: 30px;
		}
		.confirmBtn{
			width: 152px;height: 44px;background: url(../img/ready/confirm_btn_bg.png) no-repeat;display: block;
			margin: 0 auto;text-align: center;line-height: 44px;color: #fff;font-size: 18px;
		}
	}	

}

.audioPanel{
	position: absolute;top: 0;left: 0;width: 100%;
	.audioCloseBtn{
		position: absolute;right: 20px;top: 20px;color: #fff;
	}
}

.u-name{
	color: #99701f;font-weight: bold;text-decoration: underline;margin: 0 5px;
}
